<!-- Pour un fonctionnement optimal, merci d'installer l'extention cross-origin ressource sharing -->


<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Deez'Web</title>
        <!-- Inclusion des Google Fonts + du framework CSS Materialize.css -->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="app" >
            <nav class="nav-wrapper blue darken-4">
                <a href="index.html" class="brand-logo valign-wrapper"><h1 id="logo">Deez'Web</h1></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Recherche</a></li>
                    <li><a href="#">Mes Favoris</a></li>
                </ul>
            </nav>
            <div id="album" class="row container">
                <div v-if="album" class="album">
                    
                    <div class="col s6 row">
                        <img :src="album.cover_medium">
                        <h3>{{ album.title }}</h3>
                        <h4><a :href="'artiste.html?id=' + album.artist.id" class="artist">{{ album.artist.name }}</a></h4>
                        <p>Date de sortie : {{ album.release_date }}</p>
                        <p>Durée : {{ album.duration | minutes }}</p>
                        <p>Genre : {{ album.genre_picture_small  }} </p>
                        
                        <a :href="album.link"><button>Voir l'album sur Deezer</button></a>
                        <p>{{album.ranking}}</p>
                    </div>
                    <div class="col s6 striped">
                        <ul class="tracks">
                            <li class="track">
                                <p class="list"> Liste des tracks de cet album </p>
                            </li>
                            <li class="track" v-for="track in album.tracks.data">
                                
                                <p class="title"><a :href="'track.html?id=' + track.id">{{ track.title }}</a><p>{{ track.duration | minutes }}</p></p>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <!-- Inclusion des scripts nécessaires au fonctionnement de l'application -->
        <script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="scripts/album.js"></script>
        
    </body>
</html>