<!-- Pour un fonctionnement optimal, merci d'installer l'extention cross-origin ressource sharing -->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Deez'Web</title>
        <!-- Inclusion des Google Fonts + du framework CSS Materialize -->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

<body>
    <nav class="nav-wrapper blue darken-4">
        <a href="index.html" class="brand-logo valign-wrapper"><h1 id="logo">Deez'Web</h1></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="index.html">Recherche</a></li>
            <li><a href="favoris.html">Mes Favoris</a></li>
        </ul>
    </nav>
    <div class="row container">
        <h2> Page de recherche</h2>
            <main id="deezer-app">
                <label>Recherchez sur Deezer...<br> 
                    <input v-model="user" type="text" placeholder="Ex: Eminem">
                </label>
                <div class="input-field col s12" >
                    <input @keyup.enter="search()" type="text" name="q" v-model="searchParam">                  
                        <select v-model="orderOption" class="browser-default">    
                            <option disabled value="">Trier par ordre de...</option>
                            <option value="ALBUM_ASC">  Album   </option>
                            <option value="ARTIST_ASC"> Artiste </option>
                            <option value="TRACK_ASC">  Titre   </option>
                            <option value="RATING">     Note    </option>
                            <option value="RANKING">    Rang    </option>
                        </select>
                </div>
            <button v-on:click="orderedData()" class="waves-effect waves-light btn blue darken-4" >Recherche</button>
            <h3>Résultats de la recherche</h3>
            
            <div>
                <div v-for="(artist, index) in Data" class="col s4 card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" v-bind:src="artist.album.cover_big">
                    </div>
                    <div class="card-content">
                        <p class="title truncate" > <a :href="'track.html?id='  + artist.id">{{artist.title}}</a></p>
                        <span class="truncate card-title activator grey-text text-darken-4">{{artist.artist.name}} / {{artist.album.title}} </span>
                        <span class="title activator grey-text text-darken-4">{{artist.duration | minutes}}<br>
                        </span>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light indigo darken-4 btn" :href="'track.html?id='  + artist.id">Ecouter un extrait</a>
                        <a class="waves-effect waves-light orange accent-4 btn" :href="'album.html?id='  + artist.album.id">Consulter l'album</a>
                        <a class="waves-effect waves-light grey darken-2 btn" :href="'artiste.html?id=' + artist.artist.id">Voir la fiche de l'artiste</a>
                    </div>
                </div>  
            </div>
        </main>
    </div>
<!-- Inclusion des scripts nécessaires au fonctionnement de l'application -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="scripts/main.js"></script>
    
</body>

</html>